div {
    width: 500px;
    border: 1px solid black;
    padding: 50px;
    margin: 20px;
  }
  header {
    border:1;
    background-color:lightslategray;
    padding: 20px;
    text-align: left;
    font-size: 22px;
    color: white;
  }
  footer {
    background-color: white;
    padding: 10px;
    text-align: left;
    color: black;
  }