<header>Flight reservation system <input type="submit" value="logout" style="margin:1px;"/></header>
<h3>Add Schedule Flights:</h3>
<div>
Schedule Flight id:<input type="text" id="id" /><br><br>
Source airport:<input type="text" id="air" /><br><br>
Destination airport:<input type="text" id="air1" /><br><br>
Departure time:<input type="time" id="time" /><br><br>
Arrival time:<input type="time" id="time1" /><br><br>
Ticket cost:<input type="text" id="cost" /> <br><br>
<button style="text-align:right;">Add</button>
</div>

